In [2]:
# Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

The data set used was the [Goverment of California's 2012-2015 Purchase Orders ](https://data.ca.gov/dataset/purchase-order-data/resource/bb82edc5-9c78-44e2-8947-68ece26197c5) that are mapped the United Nations Standard Products & Services Code (UNSPSC). A Group Title column was added using excel (vlookup) for Goods and Services based on Segment Title.

In [3]:
# import dataset
df = pd.read_csv('GoC Spend Data.csv', encoding ='utf-8')

#### Initial Exploration

The dataset is made up of 344,504 rows (line items) with 33 columns comprised of 9 float and 23 object datatypes. The dataset has numerous columns specific to the Goverment of California (e.g. Acquisition Method), which for this capstone not relevant and therefor will not be further explored.

In [4]:
# peak into the dataset
df.head(5)

,Creation Date,Purchase Date,Fiscal Year,LPA Number,Purchase Order Number,Requisition Number,Acquisition Type,Sub-Acquisition Type,Acquisition Method,Sub-Acquisition Method,...,Commodity Title,Class,Class Title,Family,Family Title,Segment,Segment Title,Group Title,Location,REMOVE AMERISOURCE
0,5/14/2014,5/14/2014,2013-2014,NaN,W0000828,NaN,NON-IT Goods,NaN,Fair and Reasonable,NaN,...,Nurses uniforms,53102700.0,Uniforms,53100000.0,Clothing,53000000.0,Apparel and Luggage and Personal Care Products,Goods,"91789\n(34.019668, -117.856008)",NaN
1,8/2/2013,7/18/2013,2013-2014,NaN,4500190668,NaN,NON-IT Goods,NaN,Informal Competitive,NaN,...,Hats,53102500.0,Clothing accessories,53100000.0,Clothing,53000000.0,Apparel and Luggage and Personal Care Products,Goods,98733\n,NaN
2,10/18/2013,10/18/2013,2013-2014,1-12-65-65-01-E,W0000487,NaN,NON-IT Goods,NaN,Statewide Contract,NaN,...,Adult diapers,53102300.0,Undergarments,53100000.0,Clothing,53000000.0,Apparel and Luggage and Personal Care Products,Goods,NaN,NaN
3,3/6/2014,3/6/2014,2013-2014,NaN,065D3010,NaN,NON-IT Goods,NaN,SB/DVBE Option,NaN,...,Police uniforms,53102700.0,Uniforms,53100000.0,Clothing,53000000.0,Apparel and Luggage and Personal Care Products,Goods,"92101\n(32.72112, -117.166986)",NaN
4,6/13/2014,5/22/2014,2013-2014,NaN,13-501-0338,NaN,NON-IT Goods,NaN,Informal Competitive,NaN,...,Adult diapers,53102300.0,Undergarments,53100000.0,Clothing,53000000.0,Apparel and Luggage and Personal Care Products,Goods,NaN,NaN

In [5]:
# check dataset shape
df.shape

(344504, 33)

In [6]:
# inspect dataset make up
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344504 entries, 0 to 344503
Data columns (total 33 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Creation Date            344504 non-null  object
 1   Purchase Date            327083 non-null  object
 2   Fiscal Year              344504 non-null  object
 3   LPA Number               90897 non-null   object
 4   Purchase Order Number    344504 non-null  object
 5   Requisition Number       14366 non-null   object
 6   Acquisition Type         344504 non-null  object
 7   Sub-Acquisition Type     68334 non-null   object
 8   Acquisition Method       344504 non-null  object
 9   Sub-Acquisition Method   30883 non-null   object
 10  Department Name          344504 non-null  object
 11  Supplier Code            344468 non-null  float64
 12  Supplier Name            344468 non-null  object
 13  Supplier Qualifications  141745 non-null  object
 14  Supplier Zip Code        274424 non-null  object
 15  CalCard                  344504 non-null  object
 16  Item Name                344473 non-null  object
 17  Item Description         344305 non-null  object
 18  Quantity                 344474 non-null  float64
 19  Unit Price               344474 non-null  float64
 20  Total Price              344474 non-null  float64
 21  Classification Codes     343487 non-null  object
 22  Normalized UNSPSC        343487 non-null  float64
 23  Commodity Title          341211 non-null  object
 24  Class                    341211 non-null  float64
 25  Class Title              341211 non-null  object
 26  Family                   341211 non-null  float64
 27  Family Title             341211 non-null  object
 28  Segment                  341211 non-null  float64
 29  Segment Title            341211 non-null  object
 30  Group Title              341211 non-null  object
 31  Location                 274424 non-null  object
 32  REMOVE AMERISOURCE       0 non-null       float64
dtypes: float64(9), object(24)
memory usage: 86.7+ MB

# drop all taxonomy titles
drop_target_columns = ['Family Title','Class Title', 'Commodity Title', 'Group Title', 'Segment Title']

for columns in drop_target_columns:
    df = df.drop([columns], axis=1)

In [7]:
# explore object columns
df.describe(include=['object']).transpose()

,count,unique,top,freq
Creation Date,344504,1015,6/27/2014,1531
Purchase Date,327083,2266,7/1/2014,4433
Fiscal Year,344504,3,2013-2014,120158
LPA Number,90897,1418,7-11-51-02,9267
Purchase Order Number,344504,196899,4500211314,602
Requisition Number,14366,5996,REQ0008872,123
Acquisition Type,344504,5,NON-IT Goods,213578
Sub-Acquisition Type,68334,25,Personal Services,16104
Acquisition Method,344504,20,Informal Competitive,82046
Sub-Acquisition Method,30883,16,Fleet,14148
Department Name,344504,111,"Corrections and Rehabilitation, Department of",57533
Supplier Name,344468,24728,Voyager Fleet Systems Inc,13756
Supplier Qualifications,141745,278,CA-MB CA-SB,53077
Supplier Zip Code,274424,3993,95691,11095
CalCard,344504,2,NO,339132
Item Name,344473,179659,Medical Supplies,2911
Item Description,344305,218697,confidential,1637
Classification Codes,343487,45743,15101506,12679
Commodity Title,341211,13072,Gasoline or Petrol,12776
Class Title,341211,2344,Petroleum and distillates,14584
Family Title,341211,411,Office machines and their supplies and accesso...,16478
Segment Title,341211,56,Information Technology Broadcasting and Teleco...,32679
Group Title,341211,2,Goods,254347
Location,274424,3993,"95691\n(38.575311, -121.560401)",11095

In [8]:
df.shape

(344504, 33)

Kept only relevant columns to reduce dataset set and computational requires for cleaning. While the model only incorporates Supplier Name, Item Name and Item Description as features and Segment as target, kept Quantity, Unit Price and Total price for future analysis and cleaning.

In [9]:
# only keep relevant columns going forward
df = df[['Quantity', 'Unit Price', 'Total Price', 'Supplier Name', 'Item Name', 'Item Description', 'Segment Title', 'Group Title']]

#### Cleaning Process

In [10]:
df

,Quantity,Unit Price,Total Price,Supplier Name,Item Name,Item Description,Segment Title,Group Title
0,1.0,3593.00,3593.00,"A&M Uniforms, Inc.",uniforms,uniforms,Apparel and Luggage and Personal Care Products,Goods
1,1.0,995.04,995.04,IBHP INCORPORATED,hat,hat,Apparel and Luggage and Personal Care Products,Goods
2,1.0,2777.60,2777.60,McKesson Medical - Surgical Minnesota Su,adult diapers,adult diapers,Apparel and Luggage and Personal Care Products,Goods
3,100.0,4.22,422.00,SUCCOR INTERNATIONAL,"Flashlight Pouch, Black",Condor # MA48-002,Apparel and Luggage and Personal Care Products,Goods
4,60.0,24.00,1440.00,Edwards Medical,Large Pullup Breifs,Large Pullup Breifs - Covidien,Apparel and Luggage and Personal Care Products,Goods
...,...,...,...,...,...,...,...,...
344499,1.0,5784.95,5784.95,Pressman's Pride,Ink,Ink,NaN,NaN
344500,1.0,1047.00,1047.00,Capital Datacorp,Lansweeper Premium Subscription - 1 year,Lansweeper Premium Subscription - 1 year,NaN,NaN
344501,1.0,5237.45,5237.45,AVANT PRINTING,artwork frames,artwork frames,NaN,NaN
344502,1.0,6292.66,6292.66,Technology Integration Group,Dell Powervault 114X,Dell Powervault 114X,NaN,NaN
344503,10.0,510.00,5100.00,"The Bode Technology Group, Inc.",lab supply,Tray Pull-Straps/Desiccant Carrier,NaN,NaN

In [11]:
# drop rows that aren't categorized
df = df[df['Segment Title'].notna()]

# drop rows with negative or 0 prices
df = df.drop(df[df['Total Price'].astype(float) <= 0].index)

# drop suppliers listed as 'unknown'
df = df.drop(df[df['Supplier Name'] == 'Unknown'].index)

# drop rows with item description as 'confidential'
df = df.drop(df[df['Item Description'] == 'confidential'].index)

# drop rows with item name missing
df = df.drop(df[df['Item Name'].isna() == True].index)

# drop rows with item description missing
df = df.drop(df[df['Item Description'].isna() == True].index)

# drop rows with supplier name missing
df = df.drop(df[df['Supplier Name'].isna() == True].index)

In [12]:
# create and merge group title dummy, drop first and droup original group title column containing strings

#create group title dummy creating a binaray column with Services as 1 and Goods as 0
dummy_group_title = pd.get_dummies(df['Group Title'], drop_first = True)

# drop Group Title column as it is no longer needed
df = df.drop('Group Title', axis=1)

# merge group dummy to df
df = pd.merge(df,dummy_group_title,how='outer',left_index=True,right_index=True)

In [13]:
df

,Quantity,Unit Price,Total Price,Supplier Name,Item Name,Item Description,Segment Title,Services
0,1.0,3593.00,3593.00,"A&M Uniforms, Inc.",uniforms,uniforms,Apparel and Luggage and Personal Care Products,0
1,1.0,995.04,995.04,IBHP INCORPORATED,hat,hat,Apparel and Luggage and Personal Care Products,0
2,1.0,2777.60,2777.60,McKesson Medical - Surgical Minnesota Su,adult diapers,adult diapers,Apparel and Luggage and Personal Care Products,0
3,100.0,4.22,422.00,SUCCOR INTERNATIONAL,"Flashlight Pouch, Black",Condor # MA48-002,Apparel and Luggage and Personal Care Products,0
4,60.0,24.00,1440.00,Edwards Medical,Large Pullup Breifs,Large Pullup Breifs - Covidien,Apparel and Luggage and Personal Care Products,0
...,...,...,...,...,...,...,...,...
341206,1408.0,0.95,1341.12,McGinty Sales Company,RMA Cheese Lunch,RMA Cheese Lunch,Travel and Food and Lodging and Entertainment ...,1
341207,160.0,24.51,3921.60,Scofield Catering & Management,Fire Meal-Dinner,Fire Meal Dinner,Travel and Food and Lodging and Entertainment ...,1
341208,1.0,180.00,180.00,"Class Act Alliance, Inc.",Interpreter,Contractor will provide a Captioner for a tele...,Travel and Food and Lodging and Entertainment ...,1
341209,27000.0,1.20,32400.00,McGinty Sales Company,Box Lunch Meat/Cheese,Box Lunch Meat/Cheese,Travel and Food and Lodging and Entertainment ...,1
341210,1.0,2000.00,2000.00,Prison Industry Authority,Moving sercies,moving services,Travel and Food and Lodging and Entertainment ...,1

In [14]:
df = df.rename(columns={'Segment Title': 'Segment Target'})

In [15]:
df

,Quantity,Unit Price,Total Price,Supplier Name,Item Name,Item Description,Segment Target,Services
0,1.0,3593.00,3593.00,"A&M Uniforms, Inc.",uniforms,uniforms,Apparel and Luggage and Personal Care Products,0
1,1.0,995.04,995.04,IBHP INCORPORATED,hat,hat,Apparel and Luggage and Personal Care Products,0
2,1.0,2777.60,2777.60,McKesson Medical - Surgical Minnesota Su,adult diapers,adult diapers,Apparel and Luggage and Personal Care Products,0
3,100.0,4.22,422.00,SUCCOR INTERNATIONAL,"Flashlight Pouch, Black",Condor # MA48-002,Apparel and Luggage and Personal Care Products,0
4,60.0,24.00,1440.00,Edwards Medical,Large Pullup Breifs,Large Pullup Breifs - Covidien,Apparel and Luggage and Personal Care Products,0
...,...,...,...,...,...,...,...,...
341206,1408.0,0.95,1341.12,McGinty Sales Company,RMA Cheese Lunch,RMA Cheese Lunch,Travel and Food and Lodging and Entertainment ...,1
341207,160.0,24.51,3921.60,Scofield Catering & Management,Fire Meal-Dinner,Fire Meal Dinner,Travel and Food and Lodging and Entertainment ...,1
341208,1.0,180.00,180.00,"Class Act Alliance, Inc.",Interpreter,Contractor will provide a Captioner for a tele...,Travel and Food and Lodging and Entertainment ...,1
341209,27000.0,1.20,32400.00,McGinty Sales Company,Box Lunch Meat/Cheese,Box Lunch Meat/Cheese,Travel and Food and Lodging and Entertainment ...,1
341210,1.0,2000.00,2000.00,Prison Industry Authority,Moving sercies,moving services,Travel and Food and Lodging and Entertainment ...,1

#### Feature Engineering

Segment Target was reducted from 55 to 26 Segment categories. This was accomplished by the bottom 20% of categories by total rows neing grouped into either Other Goods or Other Services based on their commodity type. But first those categories needed to be found. A 47% reduction in spend categories resulting in only aggregating 7% of total spend. This was accomplished through the below.

In [16]:
# create a dataframe with Segment, Services Total Price grouped by Segment with sum and count (number of rows) of Total Price 
segment_target_df = pd.DataFrame(df.groupby(['Segment Target','Services'])['Total Price'].agg(['sum','count']).reset_index())

# sort by count
segment_target_df= segment_target_df.sort_values(by=('count'), ascending = False)

# create a column for cummaltive amount of rows
segment_target_df['cum_sum_count'] = segment_target_df['count'].cumsum()

# create a column for cummaltive percent of rows
segment_target_df['cum_perc_count'] = round(100*segment_target_df['cum_sum_count']/segment_target_df['count'].sum(),1)

# create a column for cummaltive sum of total spend
segment_target_df['cum_sum_sum'] = segment_target_df['sum'].cumsum()

# create a column for cummaltive percent of total spend
segment_target_df['cum_perc_sum'] = round(100*segment_target_df['cum_sum_sum']/segment_target_df['sum'].sum(),1)

# display 
segment_target_df

,Segment Target,Services,sum,count,cum_sum_count,cum_perc_count,cum_sum_sum,cum_perc_sum
26,Information Technology Broadcasting and Teleco...,0,1.928122e+09,30275,30275,9.3,1.928122e+09,1.3
19,Food Beverage and Tobacco Products,0,4.660712e+08,27682,57957,17.8,2.394193e+09,1.6
39,Office Equipment and Accessories and Supplies,0,1.250900e+08,27007,84964,26.0,2.519283e+09,1.7
14,Engineering and Research and Technology Based ...,1,4.270134e+09,16589,101553,31.1,6.789417e+09,4.6
33,Medical Equipment and Accessories and Supplies,0,2.994211e+08,16231,117784,36.1,7.088838e+09,4.8
20,Fuels and Fuel Additives and Lubricants and An...,0,3.222314e+08,15989,133773,41.0,7.411069e+09,5.0
41,Paper Materials and Products,0,1.336836e+08,11054,144827,44.4,7.544753e+09,5.1
5,Commercial and Military and Private Vehicles a...,0,1.097559e+09,10314,155141,47.5,8.642312e+09,5.9
11,Education and Training Services,1,3.289646e+09,9959,165100,50.6,1.193196e+10,8.1
6,Defense and Law Enforcement and Security and S...,0,3.406194e+08,9943,175043,53.6,1.227258e+10,8.3
21,Furniture and Furnishings,0,1.101441e+08,7350,182393,55.9,1.238272e+10,8.4
30,Management and Business Professionals and Admi...,1,5.137725e+09,7239,189632,58.1,1.752045e+10,11.9
22,Healthcare Services,1,1.115454e+11,6896,196528,60.2,1.290658e+11,87.5
27,Laboratory and Measuring and Observing and Tes...,0,1.888920e+08,6689,203217,62.3,1.292547e+11,87.7
23,Industrial Cleaning Services,1,3.373688e+08,6491,209708,64.3,1.295921e+11,87.9
51,Structures and Building and Construction and M...,0,5.450587e+08,6446,216154,66.2,1.301371e+11,88.3
44,Power Generation and Distribution Machinery an...,0,1.337334e+08,6349,222503,68.2,1.302709e+11,88.4
2,Building and Facility Construction and Mainten...,1,1.812050e+09,6142,228645,70.1,1.320829e+11,89.6
32,Material Handling and Conditioning and Storage...,0,9.343111e+07,5710,234355,71.8,1.321763e+11,89.7
54,Transportation and Storage and Mail Services,1,2.532134e+08,5608,239963,73.5,1.324296e+11,89.8
12,Electrical Systems and Lighting and Components...,0,1.309916e+08,5572,245535,75.2,1.325605e+11,89.9
31,Manufacturing Components and Supplies,0,4.262440e+07,5387,250922,76.9,1.326032e+11,89.9
43,Politics and Civic Affairs Services,1,3.223063e+09,5285,256207,78.5,1.358262e+11,92.1
47,Published Products,0,1.878465e+08,5118,261325,80.1,1.360141e+11,92.3
7,Distribution and Conditioning Systems and Equi...,0,8.651066e+07,5087,266412,81.6,1.361006e+11,92.3
0,Apparel and Luggage and Personal Care Products,0,8.968175e+07,4630,271042,83.1,1.361903e+11,92.4
4,Cleaning Equipment and Supplies,0,8.954804e+07,4255,275297,84.4,1.362798e+11,92.4
37,Musical Instruments and Games and Toys and Art...,0,7.583501e+08,3884,279181,85.6,1.370382e+11,93.0
53,Tools and General Machinery,0,3.623516e+07,3590,282771,86.7,1.370744e+11,93.0
8,Domestic Appliances and Supplies and Consumer ...,0,1.377086e+08,3584,286355,87.8,1.372121e+11,93.1
29,Live Plant and Animal Material and Accessories...,0,1.555479e+08,3254,289609,88.8,1.373677e+11,93.2
35,Mining and Well Drilling Machinery and Accesso...,0,1.093066e+08,2973,292582,89.7,1.374770e+11,93.3
24,Industrial Manufacturing and Processing Machin...,0,4.612714e+07,2844,295426,90.5,1.375231e+11,93.3
3,Chemicals including Bio Chemicals and Gas Mate...,0,9.588296e+07,2326,297752,91.2,1.376190e+11,93.3
10,Editorial and Design and Graphic and Fine Art ...,1,1.108618e+08,2295,300047,92.0,1.377298e+11,93.4
45,Printing and Photographic and Audio and Visual...,0,3.081301e+07,2167,302214,92.6,1.377607e+11,93.4
34,Mineral and Textile and Inedible Plant and Ani...,0,4.682150e+08,2141,304355,93.3,1.382289e+11,93.8
38,National Defense and Public Order and Security...,1,1.803939e+09,1920,306275,93.9,1.400328e+11,95.0
13,Electronic Components and Supplies,0,2.611556e+07,1876,308151,94.4,1.400589e+11,95.0
25,Industrial Production and Manufacturing Services,1,1.810753e+08,1870,310021,95.0,1.402400e+11,95.1
16,Farming and Fishing and Forestry and Wildlife ...,1,1.567621e+09,1831,311852,95.6,1.418076e+11,96.2
49,Service Industry Machinery and Equipment and S...,0,2.292196e+07,1633,313485,96.1,1.418305e+11,96.2
46,Public Utilities and Public Sector Related Ser...,1,7.962846e+08,1488,314973,96.5,1.426268e+11,96.7
55,Travel and Food and Lodging and Entertainment ...,1,7.564890e+07,1454,316427,97.0,1.427025e+11,96.8
1,Building and Construction Machinery and Access...,0,7.341811e+07,1334,317761,97.4,1.427759e+11,96.8
15,Environmental Services,1,1.195818e+09,1231,318992,97.8,1.439717e+11,97.7
50,Sports and Recreational Equipment and Supplies...,0,1.177008e+07,1144,320136,98.1,1.439835e+11,97.7
18,Financial and Insurance Services,1,2.223429e+09,1008,321144,98.4,1.462069e+11,99.2
36,Mining and oil and gas services,1,2.615822e+08,947,322091,98.7,1.464685e+11,99.4
28,Land and Buildings and Structures and Thorough...,0,3.614371e+08,913,323004,99.0,1.468299e+11,99.6
40,Organizations and Clubs,1,4.582202e+08,857,323861,99.3,1.472882e+11,99.9
9,Drugs and Pharmaceutical Products,0,3.008181e+07,756,324617,99.5,1.473182e+11,99.9
17,Farming and Fishing and Forestry and Wildlife ...,0,2.710185e+07,536,325153,99.6,1.473453e+11,99.9
48,Resin and Rosin and Rubber and Foam and Film a...,0,8.322122e+06,501,325654,99.8,1.473537e+11,100.0
52,Timepieces and Jewelry and Gemstone Products,0,1.808016e+05,405,326059,99.9,1.473538e+11,100.0
42,Personal and Domestic Services,1,7.006016e+07,249,326308,100.0,1.474239e+11,100.0

Using a nested where clause for segements with the grouping of bottom 20% of segments into either Other Goods or Other Services based on commmodity type

In [17]:
# using a nested where clause for segements with the grouping of bottom 20% of segments into either Other Goods or Other Services based on commmodity type
segment_target_df['Reduced Segment Target'] = np.where((segment_target_df['cum_perc_count']>80.5) & (segment_target_df['Services'] == 1), 'Other Services', \
                                                       np.where((segment_target_df['cum_perc_count']>80.5) & (segment_target_df['Services'] == 0), 'Other Goods', segment_target_df['Segment Target']))

In [18]:
segment_target_df

,Segment Target,Services,sum,count,cum_sum_count,cum_perc_count,cum_sum_sum,cum_perc_sum,Reduced Segment Target
26,Information Technology Broadcasting and Teleco...,0,1.928122e+09,30275,30275,9.3,1.928122e+09,1.3,Information Technology Broadcasting and Teleco...
19,Food Beverage and Tobacco Products,0,4.660712e+08,27682,57957,17.8,2.394193e+09,1.6,Food Beverage and Tobacco Products
39,Office Equipment and Accessories and Supplies,0,1.250900e+08,27007,84964,26.0,2.519283e+09,1.7,Office Equipment and Accessories and Supplies
14,Engineering and Research and Technology Based ...,1,4.270134e+09,16589,101553,31.1,6.789417e+09,4.6,Engineering and Research and Technology Based ...
33,Medical Equipment and Accessories and Supplies,0,2.994211e+08,16231,117784,36.1,7.088838e+09,4.8,Medical Equipment and Accessories and Supplies
20,Fuels and Fuel Additives and Lubricants and An...,0,3.222314e+08,15989,133773,41.0,7.411069e+09,5.0,Fuels and Fuel Additives and Lubricants and An...
41,Paper Materials and Products,0,1.336836e+08,11054,144827,44.4,7.544753e+09,5.1,Paper Materials and Products
5,Commercial and Military and Private Vehicles a...,0,1.097559e+09,10314,155141,47.5,8.642312e+09,5.9,Commercial and Military and Private Vehicles a...
11,Education and Training Services,1,3.289646e+09,9959,165100,50.6,1.193196e+10,8.1,Education and Training Services
6,Defense and Law Enforcement and Security and S...,0,3.406194e+08,9943,175043,53.6,1.227258e+10,8.3,Defense and Law Enforcement and Security and S...
21,Furniture and Furnishings,0,1.101441e+08,7350,182393,55.9,1.238272e+10,8.4,Furniture and Furnishings
30,Management and Business Professionals and Admi...,1,5.137725e+09,7239,189632,58.1,1.752045e+10,11.9,Management and Business Professionals and Admi...
22,Healthcare Services,1,1.115454e+11,6896,196528,60.2,1.290658e+11,87.5,Healthcare Services
27,Laboratory and Measuring and Observing and Tes...,0,1.888920e+08,6689,203217,62.3,1.292547e+11,87.7,Laboratory and Measuring and Observing and Tes...
23,Industrial Cleaning Services,1,3.373688e+08,6491,209708,64.3,1.295921e+11,87.9,Industrial Cleaning Services
51,Structures and Building and Construction and M...,0,5.450587e+08,6446,216154,66.2,1.301371e+11,88.3,Structures and Building and Construction and M...
44,Power Generation and Distribution Machinery an...,0,1.337334e+08,6349,222503,68.2,1.302709e+11,88.4,Power Generation and Distribution Machinery an...
2,Building and Facility Construction and Mainten...,1,1.812050e+09,6142,228645,70.1,1.320829e+11,89.6,Building and Facility Construction and Mainten...
32,Material Handling and Conditioning and Storage...,0,9.343111e+07,5710,234355,71.8,1.321763e+11,89.7,Material Handling and Conditioning and Storage...
54,Transportation and Storage and Mail Services,1,2.532134e+08,5608,239963,73.5,1.324296e+11,89.8,Transportation and Storage and Mail Services
12,Electrical Systems and Lighting and Components...,0,1.309916e+08,5572,245535,75.2,1.325605e+11,89.9,Electrical Systems and Lighting and Components...
31,Manufacturing Components and Supplies,0,4.262440e+07,5387,250922,76.9,1.326032e+11,89.9,Manufacturing Components and Supplies
43,Politics and Civic Affairs Services,1,3.223063e+09,5285,256207,78.5,1.358262e+11,92.1,Politics and Civic Affairs Services
47,Published Products,0,1.878465e+08,5118,261325,80.1,1.360141e+11,92.3,Published Products
7,Distribution and Conditioning Systems and Equi...,0,8.651066e+07,5087,266412,81.6,1.361006e+11,92.3,Other Goods
0,Apparel and Luggage and Personal Care Products,0,8.968175e+07,4630,271042,83.1,1.361903e+11,92.4,Other Goods
4,Cleaning Equipment and Supplies,0,8.954804e+07,4255,275297,84.4,1.362798e+11,92.4,Other Goods
37,Musical Instruments and Games and Toys and Art...,0,7.583501e+08,3884,279181,85.6,1.370382e+11,93.0,Other Goods
53,Tools and General Machinery,0,3.623516e+07,3590,282771,86.7,1.370744e+11,93.0,Other Goods
8,Domestic Appliances and Supplies and Consumer ...,0,1.377086e+08,3584,286355,87.8,1.372121e+11,93.1,Other Goods
29,Live Plant and Animal Material and Accessories...,0,1.555479e+08,3254,289609,88.8,1.373677e+11,93.2,Other Goods
35,Mining and Well Drilling Machinery and Accesso...,0,1.093066e+08,2973,292582,89.7,1.374770e+11,93.3,Other Goods
24,Industrial Manufacturing and Processing Machin...,0,4.612714e+07,2844,295426,90.5,1.375231e+11,93.3,Other Goods
3,Chemicals including Bio Chemicals and Gas Mate...,0,9.588296e+07,2326,297752,91.2,1.376190e+11,93.3,Other Goods
10,Editorial and Design and Graphic and Fine Art ...,1,1.108618e+08,2295,300047,92.0,1.377298e+11,93.4,Other Services
45,Printing and Photographic and Audio and Visual...,0,3.081301e+07,2167,302214,92.6,1.377607e+11,93.4,Other Goods
34,Mineral and Textile and Inedible Plant and Ani...,0,4.682150e+08,2141,304355,93.3,1.382289e+11,93.8,Other Goods
38,National Defense and Public Order and Security...,1,1.803939e+09,1920,306275,93.9,1.400328e+11,95.0,Other Services
13,Electronic Components and Supplies,0,2.611556e+07,1876,308151,94.4,1.400589e+11,95.0,Other Goods
25,Industrial Production and Manufacturing Services,1,1.810753e+08,1870,310021,95.0,1.402400e+11,95.1,Other Services
16,Farming and Fishing and Forestry and Wildlife ...,1,1.567621e+09,1831,311852,95.6,1.418076e+11,96.2,Other Services
49,Service Industry Machinery and Equipment and S...,0,2.292196e+07,1633,313485,96.1,1.418305e+11,96.2,Other Goods
46,Public Utilities and Public Sector Related Ser...,1,7.962846e+08,1488,314973,96.5,1.426268e+11,96.7,Other Services
55,Travel and Food and Lodging and Entertainment ...,1,7.564890e+07,1454,316427,97.0,1.427025e+11,96.8,Other Services
1,Building and Construction Machinery and Access...,0,7.341811e+07,1334,317761,97.4,1.427759e+11,96.8,Other Goods
15,Environmental Services,1,1.195818e+09,1231,318992,97.8,1.439717e+11,97.7,Other Services
50,Sports and Recreational Equipment and Supplies...,0,1.177008e+07,1144,320136,98.1,1.439835e+11,97.7,Other Goods
18,Financial and Insurance Services,1,2.223429e+09,1008,321144,98.4,1.462069e+11,99.2,Other Services
36,Mining and oil and gas services,1,2.615822e+08,947,322091,98.7,1.464685e+11,99.4,Other Services
28,Land and Buildings and Structures and Thorough...,0,3.614371e+08,913,323004,99.0,1.468299e+11,99.6,Other Goods
40,Organizations and Clubs,1,4.582202e+08,857,323861,99.3,1.472882e+11,99.9,Other Services
9,Drugs and Pharmaceutical Products,0,3.008181e+07,756,324617,99.5,1.473182e+11,99.9,Other Goods
17,Farming and Fishing and Forestry and Wildlife ...,0,2.710185e+07,536,325153,99.6,1.473453e+11,99.9,Other Goods
48,Resin and Rosin and Rubber and Foam and Film a...,0,8.322122e+06,501,325654,99.8,1.473537e+11,100.0,Other Goods
52,Timepieces and Jewelry and Gemstone Products,0,1.808016e+05,405,326059,99.9,1.473538e+11,100.0,Other Goods
42,Personal and Domestic Services,1,7.006016e+07,249,326308,100.0,1.474239e+11,100.0,Other Services

In [19]:
# factorize reduced segement target for modelling 
segment_target_df['Segment Target Cat'] = segment_target_df['Reduced Segment Target'].factorize()[0]

segment_target_df['Segment Target Cat'] = segment_target_df['Segment Target Cat'].astype(str) 
#segment_target_df = segment_target_df.drop('Segment Target', axis=1)

#segment_target_df = segment_target_df.rename(columns={'Reduced Segment Target': 'Segment Target'})

In [20]:
df = pd.merge(df,segment_target_df[['Segment Target','Reduced Segment Target', 'Segment Target Cat']], how='left', left_on='Segment Target', right_on ='Segment Target')

Since the original dataset did not have goods and services, that column was dropped

In [21]:
# drop Goods and Services column
df = df.drop(['Services', 'Segment Target'], axis=1)

In [22]:
df = df.rename(columns={'Reduced Segment Target': 'Segment Target'})

#### Finalized Cleaned Dataset

Check to see if there are any nulls, the correct columns are present in the correct data type.  
  
The cleaned dataset has 326,208 rows with 8 columns, 3 float and 5 object.

In [29]:
# check info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 326308 entries, 0 to 326307
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Quantity            326308 non-null  float64
 1   Unit Price          326308 non-null  float64
 2   Total Price         326308 non-null  float64
 3   Supplier Name       326308 non-null  object
 4   Item Name           326308 non-null  object
 5   Item Description    326308 non-null  object
 6   Segment Target      326308 non-null  object
 7   Segment Target Cat  326308 non-null  object
dtypes: float64(3), object(5)
memory usage: 22.4+ MB

In [23]:
# check to ensure there are no null values
df.isnull().sum()

Quantity              0
Unit Price            0
Total Price           0
Supplier Name         0
Item Name             0
Item Description      0
Segment Target        0
Segment Target Cat    0
dtype: int64

In [24]:
# check object statistics
df.describe(include=['object']).transpose()

                     count  unique                        top   freq
Supplier Name       326308   24430  Voyager Fleet Systems Inc  13756
Item Name           326308  170898           Medical Supplies   2882
Item Description    326308  207616           Medical Supplies   1361
Segment Target      326308      26                Other Goods  49833
Segment Target Cat  326308      26                         24  49833

In [25]:
# check float statisitcs
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,326308.0,2043.375498,1.008739e+05,0.004,1.0,1.000,7.00,2.000000e+07
Unit Price,326308.0,447573.094654,2.183321e+07,0.000,41.0,600.000,10189.35,7.337038e+09
Total Price,326308.0,451793.696625,2.183325e+07,0.010,352.0,3851.955,14880.00,7.337038e+09

In [26]:
# one last check 
df.head()

,Quantity,Unit Price,Total Price,Supplier Name,Item Name,Item Description,Segment Target,Segment Target Cat
0,1.0,3593.00,3593.00,"A&M Uniforms, Inc.",uniforms,uniforms,Other Goods,24
1,1.0,995.04,995.04,IBHP INCORPORATED,hat,hat,Other Goods,24
2,1.0,2777.60,2777.60,McKesson Medical - Surgical Minnesota Su,adult diapers,adult diapers,Other Goods,24
3,100.0,4.22,422.00,SUCCOR INTERNATIONAL,"Flashlight Pouch, Black",Condor # MA48-002,Other Goods,24
4,60.0,24.00,1440.00,Edwards Medical,Large Pullup Breifs,Large Pullup Breifs - Covidien,Other Goods,24

In [27]:
# save cleaned data to be used for modelling (see included notebook Modelling)
df.to_csv('GoC Spend Data Cleaned (Quantity, Unit Price, Total Price, Supplier Name, Item Name, Item Description, UNSPSC Segment).csv', index=False)

#### Modelling process can be found in the Modelling notebook